## 1  Loading the dataset

In [38]:
# from pyspark.sql import SparkSession

# # Initialize SparkSession
# spark = SparkSession.builder .appName("MS3")  .getOrCreate()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
spark = SparkSession.builder.config("spark.jars", "/root/.docker/run/postgresql-42.7.4.jar") \
	.master("local").appName("MS3").getOrCreate()


# Load the dataset
dataset_path = "fintech_data_30_52_21362.parquet"  # Replace with the actual path
df = spark.read.parquet(dataset_path)

# Preview first 20 rows
print("Preview of first 20 rows:")
df.show(20)

# Check the number of partitions
initial_partitions = df.rdd.getNumPartitions()
print(f"Initial number of partitions: {initial_partitions}")

# Get the number of logical cores
import os
logical_cores = os.cpu_count()
print(f"Number of logical cores: {logical_cores}")

# Repartition the DataFrame
df_repartitioned = df.repartition(logical_cores)

# Verify the new number of partitions
new_partitions = df_repartitioned.rdd.getNumPartitions()
print(f"New number of partitions: {new_partitions}")

Preview of first 20 rows:
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         Customer Id|           Emp Title|Emp Length|Home Ownership|Annual Inc|Annual Inc Joint|Verification Status|Zip Code|Addr State|Avg Cur Bal|Tot Cur Bal|Loan Id|    Loan Status|Loan Amount|State|Funded Amount|      Term|Int Rate|Grade|       Issue Date|Pymnt Plan|      Type|           Purpose|         Description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YichUndceGIwVUxce...|         Underwrirer| 10+ years|      MORTGAGE|   90000.0|            NULL|           Verified|   346xx|        FL|    27978.0|   335738.0|  70935|        Current|     8400.0|   FL|       8400.0| 36 months|  0.0881|    4|  19 January 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDk4O1x4ZWZce...|Regional sales Ex...|   4 years|          RENT|   72000.0|            NULL|    Source Verified|   640xx|        MO|     2098.0|    33560.0|  63172|     Fully Paid|     8000.0|   MO|       8000.0| 36 months|  0.0789|    1|     15 July 2015|     false|Individual|  home_improvement|    Home improvement|
|YiciXHhmZEU5XHgxZ...|Library Specialis...|   2 years|          RENT|   40000.0|            NULL|    Source Verified|   201xx|        VA|    17544.0|   140349.0|  14799|In Grace Period|     3500.0|   VA|       3500.0| 36 months|  0.1806|   18|     17 July 2017|     false|Individual|             other|               Other|
|Yic9XHhjYX5ceGQ0X...|            Attorney|   3 years|      MORTGAGE|  120000.0|            NULL|           Verified|   303xx|        GA|    10021.0|   210444.0| 259816|     Fully Paid|    35000.0|   GA|      35000.0| 60 months|  0.1531|   11| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDk4aVx4YzJce...|               owner|   8 years|          RENT|   55000.0|            NULL|       Not Verified|   333xx|        FL|     4200.0|    16800.0| 191729|        Current|    20000.0|   FL|      20000.0| 36 months|  0.1049|    7|     16 July 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YiIsX1x4ZDZcdCVce...|        Surveillance|    1 year|           OWN|   35000.0|            NULL|    Source Verified|   724xx|        AR|     8693.0|   139091.0|  10274|        Current|     3000.0|   AR|       3000.0| 36 months|  0.1139|    6|    17 April 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGJlalx4YmFce...|                NULL|      NULL|          RENT|   16048.0|            NULL|           Verified|   283xx|        NC|     3186.0|    28677.0|  35780|        Current|     5375.0|   NC|       5375.0| 36 months|  0.1924|   23| 14 November 2014|     false|INDIVIDUAL|  home_improvement|    Home improvement|
|YidceGNlXHgwYmFAX...|                  PT|   6 years|           OWN|  103000.0|            NULL|       Not Verified|   785xx|        TX|     9124.0|    54746.0| 148966|        Current|    15000.0|   TX|      15000.0| 36 months|  0.0944|    7| 18 February 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGNidlx4YTRMX...|   Logistics Analyst|   4 years|          RENT|   69000.0|            NULL|    Source Verified|   234xx|        VA|     4313.0|    90578.0|  93464|     Fully Paid|    10000.0|   VA|      10000.0| 36 months|  0.1262|   13| 17 December 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDliXHgwZSFyX...|Veteran's Service...| 10+ years|      MORTGAGE|   75000.0|            NULL|    Source Verified|   390xx|        MS|    34402.0|   240811.0|  27812|        Current|     5000.0|   MS|       5000.0| 36 months|  0.0944|   10|     17 June 2017|     false|Individual|  home_improvement|    Home improvement|
|YidofDM1XHhiYVx4Y...| Master Tax Advisor | 10+ years|      MORTGAGE|  100000.0|            NULL|       Not Verified|   846xx|        UT|    33159.0|   232113.0| 198304|        Current|    20000.0|   UT|      20000.0| 60 months|  0.1308|    7| 19 December 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDlhXHg4OXhce...|Supplier Relation...|   3 years|           OWN|   75000.0|            NULL|       Not Verified|   237xx|        VA|     4081.0|    44887.0| 157667|        Current|    15000.0|   VA|      15000.0| 60 months|  0.1691|   15| 18 November 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGY1XHhkZlx4Z...|Front Desk Recept...|   9 years|      MORTGAGE|  200000.0|            NULL|    Source Verified|   117xx|        NY|    26588.0|   505166.0| 258183|        Current|    35000.0|   NY|      35000.0| 60 months|  0.1008|    6|  18 October 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGU2Vlx4YTFce...|   Building Engineer| 10+ years|      MORTGAGE|  110000.0|        181000.0|       Not Verified|   601xx|        IL|    43605.0|   261627.0| 258027|        Current|    35000.0|   IL|      35000.0| 60 months|  0.0881|    3|19 September 2019|     false| Joint App|debt_consolidation|  Debt consolidation|
|YidxXHgwOFx4MDdmX...|      QC Lab Manager|  < 1 year|      MORTGAGE|   95000.0|            NULL|           Verified|   752xx|        TX|    29202.0|   292016.0| 220190|        Current|    24000.0|   TX|      24000.0| 60 months|  0.1919|   25|   15 August 2015|     false|Individual|       credit_card|Credit card refin...|
|YidceGEyXHg5OSVce...|     Software Tester| 10+ years|      MORTGAGE|   70000.0|            NULL|    Source Verified|   972xx|        OR|    33053.0|   231368.0| 221131|     Fully Paid|    24500.0|   OR|      24500.0| 36 months|  0.0839|    2|     14 June 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGM5XHg5ZFMqX...|Installation Foreman| 10+ years|          RENT|   70000.0|            NULL|       Not Verified|   196xx|        PA|     3941.0|    19705.0| 214015|        Current|    23925.0|   PA|      23925.0| 60 months|  0.1308|    7|    19 April 2019|     false|Individual|               car|       Car financing|
|YidceGM1XHgxM1x4Y...|    Registered nurse| 10+ years|      MORTGAGE|   98000.0|            NULL|           Verified|   372xx|        TN|    17948.0|   251272.0| 182958|     Fully Paid|    18725.0|   TN|      18725.0| 36 months|  0.1499|   12|    17 April 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDAwSlx4OGNce...|             Teacher|    1 year|          RENT|   60000.0|            NULL|       Not Verified|   941xx|        CA|    14960.0|   104719.0| 125969|     Fully Paid|    12000.0|   CA|      12000.0| 60 months|  0.1366|   14|  15 January 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDE0OGtceGRlX...|                NULL|      NULL|      MORTGAGE|   31176.0|         45444.0|       Not Verified|   984xx|        WA|    42423.0|   254538.0|  38270|     Fully Paid|     5725.0|   WA|       5725.0| 36 months|  0.0944|    6|     17 June 2017|     false| Joint App|       credit_card|Credit card refin...|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

Initial number of partitions: 1
Number of logical cores: 8
New number of partitions: 8

## 2  Cleaning

### a. rename columns

In [39]:
from pyspark.sql import functions as F
from pyspark.sql import DataFrame
from pyspark.sql.types import StringType, NumericType

# Rename columns: replace spaces with underscores and convert to lowercase
def rename_columns(df: DataFrame) -> DataFrame:
    for col in df.columns:
        df = df.withColumnRenamed(col, col.replace(" ", "_").lower())
    return df

df = rename_columns(df)

### b. calculate missing values and handle them

In [40]:

# Function to calculate percentage of missing values
def calculate_missing_percentage(df: DataFrame) -> dict:
    total_rows = df.count()
    missing_info = {}
    for col in df.columns:
        missing_count = df.filter(F.col(col).isNull()).count()
        missing_percentage = (missing_count / total_rows) * 100
        missing_info[col] = missing_percentage
    return missing_info

# Get missing info and print it
missing_info = calculate_missing_percentage(df)
print("Missing values info:")
for col, perc in missing_info.items():
    print(f"{col}: {perc:.2f}%")

Missing values info:
customer_id: 0.00%
emp_title: 9.10%
emp_length: 7.14%
home_ownership: 0.00%
annual_inc: 0.00%
annual_inc_joint: 93.05%
verification_status: 0.00%
zip_code: 0.00%
addr_state: 0.00%
avg_cur_bal: 0.00%
tot_cur_bal: 0.00%
loan_id: 0.00%
loan_status: 0.00%
loan_amount: 0.00%
state: 0.00%
funded_amount: 0.00%
term: 0.00%
int_rate: 4.62%
grade: 0.00%
issue_date: 0.00%
pymnt_plan: 0.00%
type: 0.00%
purpose: 0.00%
description: 0.88%

In [41]:
# Handle missing values
def handle_missing_values(df):
    for col, dtype in df.dtypes:
        if dtype == "string":
            # Calculate the mode (most frequent value) for the column

            mode_row = (
                df.groupBy(col)
                .count()
                .orderBy(F.col("count").desc())
                .limit(1)
            )
            # Extract the mode value
            mode_value = mode_row.collect()[0][col] 

            if mode_value is not None:
                df = df.fillna({col: mode_value})
            else:
                mode_value= df.select(col).first()[0] 
                df = df.fillna({col: mode_value })
        elif dtype in ["int", "double", "float"]:
            # Replace missing numerical values with 0
            df = df.fillna({col: 0})
    return df

# Apply the function to handle missing values
df = handle_missing_values(df)

# Verify no missing values remain
missing_info_after = calculate_missing_percentage(df)
print("Missing values after handling:")
for col, perc in missing_info_after.items():
    print(f"{col}: {perc:.2f}%")

assert all(perc == 0 for perc in missing_info_after.values()), "Some columns still have missing values!"
print("No missing values remain in the dataset.")

Missing values after handling:
customer_id: 0.00%
emp_title: 0.00%
emp_length: 0.00%
home_ownership: 0.00%
annual_inc: 0.00%
annual_inc_joint: 0.00%
verification_status: 0.00%
zip_code: 0.00%
addr_state: 0.00%
avg_cur_bal: 0.00%
tot_cur_bal: 0.00%
loan_id: 0.00%
loan_status: 0.00%
loan_amount: 0.00%
state: 0.00%
funded_amount: 0.00%
term: 0.00%
int_rate: 0.00%
grade: 0.00%
issue_date: 0.00%
pymnt_plan: 0.00%
type: 0.00%
purpose: 0.00%
description: 0.00%
No missing values remain in the dataset.

## 3 Encoding

In [42]:
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.ml.feature import StringIndexer, OneHotEncoder

# 1. Convert Emp Length to numerical
def convert_emp_length_to_numeric(df):
    emp_length_map = {
        "< 1 year": 0,
        "1 year": 1,
        "2 years": 2,
        "3 years": 3,
        "4 years": 4,
        "5 years": 5,
        "6 years": 6,
        "7 years": 7,
        "8 years": 8,
        "9 years": 9,
        "10+ years": 10
    }
    # Start with the first condition
    emp_length_column = F.when(F.col("emp_length") == list(emp_length_map.keys())[0], list(emp_length_map.values())[0])
    
    # Add the rest of the conditions
    for key, value in list(emp_length_map.items())[1:]:
        emp_length_column = emp_length_column.when(F.col("emp_length") == key, value)

    # Apply 'otherwise' to handle the cases where emp_length doesn't match any of the values
    emp_length_column = emp_length_column.otherwise(None)
    
    return df.withColumn("emp_length", emp_length_column)

In [43]:
# 2. One-Hot Encoding for Home Ownership, Verification Status, Type
from pyspark.sql.functions import when, col, lower

def one_hot_encode_columns(df, cols):

    for col_name in cols:
        # Get unique values for the column
        unique_values = [row[col_name] for row in df.select(col_name).distinct().collect()]
        
        # Create new columns for each unique value
       
        for value in unique_values:
            new_col_name = f"{col_name}_{value}"
            new_col_name=new_col_name.replace(" ", "_").lower()# e.g., Home_Ownership_Rent
            df = df.withColumn(new_col_name, when(lower(col(col_name)) == value.lower(), 1).otherwise(0))


    return df

In [44]:
# 3. Label Encoding for State, Purpose
def label_encode_columns(df, cols):
    for col in cols:
        indexer = StringIndexer(inputCol=col, outputCol=f"{col}_label", handleInvalid="skip")
        df = indexer.fit(df).transform(df)
    return df

In [45]:
def discretize_grade(df):
    # Convert the numeric grade to a letter grade
    return df.withColumn(
        "grade_discretized",
        F.when((F.col("grade") >= 1) & (F.col("grade") <= 5), "A")
        .when((F.col("grade") >= 6) & (F.col("grade") <= 10), "B")
        .when((F.col("grade") >= 11) & (F.col("grade") <= 15), "C")
        .when((F.col("grade") >= 16) & (F.col("grade") <= 20), "D")
        .when((F.col("grade") >= 21) & (F.col("grade") <= 25), "E")
        .when((F.col("grade") >= 26) & (F.col("grade") <= 30), "F")
        .when((F.col("grade") >= 31) & (F.col("grade") <= 35), "G")
        .otherwise("Unknown")  # For any values outside the expected range
    )

In [46]:
df = convert_emp_length_to_numeric(df)
df = one_hot_encode_columns(df, ["home_ownership", "verification_status", "type"])
df = label_encode_columns(df, ["state", "purpose"])
df = discretize_grade(df)
df.show()

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+-----------+-------------+-----------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|    loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_joint_app|type_individual|type_direct_pay|type_joint|state_label|purpose_label|grade_discretized|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+-----------+-------------+-----------------+
|YichUndceGIwVUxce...|         Underwrirer|        10|      MORTGAGE|   90000.0|             0.0|           Verified|   346xx|        FL|    27978.0|   335738.0|  70935|        Current|     8400.0|   FL|       8400.0| 36 months|  0.0881|    4|  19 January 2019|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|        3.0|          0.0|                A|
|YidceDk4O1x4ZWZce...|Regional sales Ex...|         4|          RENT|   72000.0|             0.0|    Source Verified|   640xx|        MO|     2098.0|    33560.0|  63172|     Fully Paid|     8000.0|   MO|       8000.0| 36 months|  0.0789|    1|     15 July 2015|     false|Individual|  home_improvement|    Home improvement|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       19.0|          2.0|                A|
|YiciXHhmZEU5XHgxZ...|Library Specialis...|         2|          RENT|   40000.0|             0.0|    Source Verified|   201xx|        VA|    17544.0|   140349.0|  14799|In Grace Period|     3500.0|   VA|       3500.0| 36 months|  0.1806|   18|     17 July 2017|     false|Individual|             other|               Other|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       10.0|          3.0|                D|
|Yic9XHhjYX5ceGQ0X...|            Attorney|         3|      MORTGAGE|  120000.0|             0.0|           Verified|   303xx|        GA|    10021.0|   210444.0| 259816|     Fully Paid|    35000.0|   GA|      35000.0| 60 months|  0.1531|   11| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|        8.0|          0.0|                C|
|YidceDk4aVx4YzJce...|               owner|         8|          RENT|   55000.0|             0.0|       Not Verified|   333xx|        FL|     4200.0|    16800.0| 191729|        Current|    20000.0|   FL|      20000.0| 36 months|  0.1049|    7|     16 July 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|        3.0|          0.0|                B|
|YiIsX1x4ZDZcdCVce...|        Surveillance|         1|           OWN|   35000.0|             0.0|    Source Verified|   724xx|        AR|     8693.0|   139091.0|  10274|        Current|     3000.0|   AR|       3000.0| 36 months|  0.1139|    6|    17 April 2017|     false|Individual|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       31.0|          0.0|                B|
|YidceGJlalx4YmFce...|         Underwrirer|        10|          RENT|   16048.0|             0.0|           Verified|   283xx|        NC|     3186.0|    28677.0|  35780|        Current|     5375.0|   NC|       5375.0| 36 months|  0.1924|   23| 14 November 2014|     false|INDIVIDUAL|  home_improvement|    Home improvement|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|        9.0|          2.0|                E|
|YidceGNlXHgwYmFAX...|                  PT|         6|           OWN|  103000.0|             0.0|       Not Verified|   785xx|        TX|     9124.0|    54746.0| 148966|        Current|    15000.0|   TX|      15000.0| 36 months|  0.0944|    7| 18 February 2018|     false|Individual|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|        1.0|          0.0|                B|
|YidceGNidlx4YTRMX...|   Logistics Analyst|         4|          RENT|   69000.0|             0.0|    Source Verified|   234xx|        VA|     4313.0|    90578.0|  93464|     Fully Paid|    10000.0|   VA|      10000.0| 36 months|  0.1262|   13| 17 December 2017|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       10.0|          0.0|                C|
|YidceDliXHgwZSFyX...|Veteran's Service...|        10|      MORTGAGE|   75000.0|             0.0|    Source Verified|   390xx|        MS|    34402.0|   240811.0|  27812|        Current|     5000.0|   MS|       5000.0| 36 months|  0.0944|   10|     17 June 2017|     false|Individual|  home_improvement|    Home improvement|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       34.0|          2.0|                B|
|YidofDM1XHhiYVx4Y...| Master Tax Advisor |        10|      MORTGAGE|  100000.0|             0.0|       Not Verified|   846xx|        UT|    33159.0|   232113.0| 198304|        Current|    20000.0|   UT|      20000.0| 60 months|  0.1308|    7| 19 December 2019|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       32.0|          0.0|                B|
|YidceDlhXHg4OXhce...|Supplier Relation...|         3|           OWN|   75000.0|             0.0|       Not Verified|   237xx|        VA|     4081.0|    44887.0| 157667|        Current|    15000.0|   VA|      15000.0| 60 months|  0.1691|   15| 18 November 2018|     false|Individual|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       10.0|          0.0|                C|
|YidceGY1XHhkZlx4Z...|Front Desk Recept...|         9|      MORTGAGE|  200000.0|             0.0|    Source Verified|   117xx|        NY|    26588.0|   505166.0| 258183|        Current|    35000.0|   NY|      35000.0| 60 months|  0.1008|    6|  18 October 2018|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|        2.0|          0.0|                B|
|YidceGU2Vlx4YTFce...|   Building Engineer|        10|      MORTGAGE|  110000.0|        181000.0|       Not Verified|   601xx|        IL|    43605.0|   261627.0| 258027|        Current|    35000.0|   IL|      35000.0| 60 months|  0.0881|    3|19 September 2019|     false| Joint App|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             1|              0|              0|         0|        4.0|          0.0|                A|
|YidxXHgwOFx4MDdmX...|      QC Lab Manager|         0|      MORTGAGE|   95000.0|             0.0|           Verified|   752xx|        TX|    29202.0|   292016.0| 220190|        Current|    24000.0|   TX|      24000.0| 60 months|  0.1919|   25|   15 August 2015|     false|Individual|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|        1.0|          1.0|                E|
|YidceGEyXHg5OSVce...|     Software Tester|        10|      MORTGAGE|   70000.0|             0.0|    Source Verified|   972xx|        OR|    33053.0|   231368.0| 221131|     Fully Paid|    24500.0|   OR|      24500.0| 36 months|  0.0839|    2|     14 June 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       27.0|          0.0|                A|
|YidceGM5XHg5ZFMqX...|Installation Foreman|        10|          RENT|   70000.0|             0.0|       Not Verified|   196xx|        PA|     3941.0|    19705.0| 214015|        Current|    23925.0|   PA|      23925.0| 60 months|  0.1308|    7|    19 April 2019|     false|Individual|               car|       Car financing|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|        7.0|          7.0|                B|
|YidceGM1XHgxM1x4Y...|    Registered nurse|        10|      MORTGAGE|   98000.0|             0.0|           Verified|   372xx|        TN|    17948.0|   251272.0| 182958|     Fully Paid|    18725.0|   TN|      18725.0| 36 months|  0.1499|   12|    17 April 2017|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|       20.0|          0.0|                C|
|YidceDAwSlx4OGNce...|             Teacher|         1|          RENT|   60000.0|             0.0|       Not Verified|   941xx|        CA|    14960.0|   104719.0| 125969|     Fully Paid|    12000.0|   CA|      12000.0| 60 months|  0.1366|   14|  15 January 2015|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|        0.0|          0.0|                C|
|YidceDE0OGtceGRlX...|         Underwrirer|        10|      MORTGAGE|   31176.0|         45444.0|       Not Verified|   984xx|        WA|    42423.0|   254538.0|  38270|     Fully Paid|     5725.0|   WA|       5725.0| 36 months|  0.0944|    6|     17 June 2017|     false| Joint App|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             1|              0|              0|         0|       16.0|          1.0|                B|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+---------------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+-----------+-------------+-----------------+
only showing top 20 rows

## 4 Feature Engineering

In [47]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

def add_previous_features(df):
    # Define the window spec for previous loan values within the same grade
    window_grade = Window.partitionBy("grade_discretized").orderBy("issue_date")
  
    # Define the window spec for previous loan values within the same state and grade
    window_state_grade = Window.partitionBy("state", "grade_discretized").orderBy("issue_date")
    
    # Adding the previous loan issue date within the same grade
    df = df.withColumn(
        "prev_loan_issue_date_grade",
        F.lag("issue_date").over(window_grade)
    )
    
    # Adding the previous loan amount within the same grade
    df = df.withColumn(
        "prev_loan_amount_grade",
        F.lag("loan_amount").over(window_grade)
    )
    
    # Adding the previous loan issue date within the same state and grade combination
    df = df.withColumn(
        "prev_loan_issue_date_state_grade",
        F.lag("issue_date").over(window_state_grade)
    )
    
    # Adding the previous loan amount within the same state and grade combination
    df = df.withColumn(
        "prev_loan_amount_state_grade",
        F.lag("loan_amount").over(window_state_grade)
    )
    
    return df
df = df.withColumn("issue_date", F.to_date("issue_date", "dd MMMM yyyy"))
df = add_previous_features(df)
df.show()

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+-----------+-------------+-----------------+--------------------------+----------------------+--------------------------------+----------------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|issue_date|pymnt_plan|      type|           purpose|         description|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_joint_app|type_individual|type_direct_pay|type_joint|state_label|purpose_label|grade_discretized|prev_loan_issue_date_grade|prev_loan_amount_grade|prev_loan_issue_date_state_grade|prev_loan_amount_state_grade|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+-----------+-------------+-----------------+--------------------------+----------------------+--------------------------------+----------------------------+
|YidceGEzXHhlYy9ce...|    Registered Nurse|         3|      MORTGAGE|  100000.0|             0.0|    Source Verified|   995xx|        AK|    22385.0|   223851.0| 187153| Fully Paid|    20000.0|   AK|      20000.0| 36 months|  0.0925|    1|2013-10-13|     false|INDIVIDUAL|debt_consolidation|  clear out accounts|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                A|                2013-10-13|                9000.0|                            NULL|                        NULL|
|YidDNlx4YjZceGMxX...|  Journeyman Glazier|         9|          RENT|   60000.0|             0.0|    Source Verified|   995xx|        AK|     4664.0|    23320.0| 190743| Fully Paid|    20000.0|   AK|      20000.0| 36 months|   0.089|    1|2013-12-13|     false|INDIVIDUAL|debt_consolidation|Vehicle,and debt ...|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                A|                2013-12-13|               25000.0|                      2013-10-13|                     20000.0|
|Yic+XHhjYVx4ZTg9Q...|   Probation Officer|        10|           OWN|   54000.0|             0.0|           Verified|   995xx|        AK|    22815.0|   319411.0| 215310|    Current|    24000.0|   AK|      24000.0| 36 months|  0.0789|    4|2016-05-16|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|       43.0|          0.0|                A|                2016-05-16|               12000.0|                      2013-12-13|                     20000.0|
|YiJceGNiQFx4OWZce...|     Master Sergeant|        10|          RENT|   90000.0|             0.0|           Verified|   995xx|        AK|     2702.0|    35129.0| 251642|    Current|    33600.0|   AK|      33600.0| 36 months|  0.0739|    3|2016-05-16|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|       43.0|          1.0|                A|                2016-05-16|                1000.0|                      2016-05-16|                     24000.0|
|YidceGFkM1x4ODdzQ...|    Kitchen manager |        10|          RENT|   60000.0|             0.0|       Not Verified|   998xx|        AK|     1304.0|    24769.0| 190042|    Current|    20000.0|   AK|      20000.0| 36 months|  0.0799|    1|2016-10-16|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       43.0|          1.0|                A|                2016-10-16|               10000.0|                      2016-05-16|                     33600.0|
|YidceGE5LFx4OTJce...|             Teacher|         2|      MORTGAGE|   53000.0|             0.0|           Verified|   995xx|        AK|    45130.0|   361036.0|  74791| Fully Paid|     9000.0|   AK|       9000.0| 36 months|  0.0749|    3|2017-01-17|     false|Individual|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|       43.0|          1.0|                A|                2017-01-17|                5000.0|                      2016-10-16|                     20000.0|
|YidceDhhclFceGM3X...|             Foreman|        10|      MORTGAGE|  115000.0|             0.0|           Verified|   995xx|        AK|    20239.0|   303589.0| 202815| Fully Paid|    20400.0|   AK|      20400.0| 36 months|  0.0734|    4|2018-04-18|     false|Individual|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           1|                                  0|                               0|             0|              1|              0|         0|       43.0|          1.0|                A|                2018-04-18|               25000.0|                      2017-01-17|                      9000.0|
|YidceGFkXHhmZkdHX...|Patient Care Coor...|         5|      MORTGAGE|   43000.0|             0.0|       Not Verified|   995xx|        AK|    25418.0|   203343.0|  99472|    Current|    10000.0|   AK|      10000.0| 60 months|  0.0611|    5|2018-07-18|     false|Individual|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       43.0|          1.0|                A|                2018-07-18|                5000.0|                      2018-04-18|                     20400.0|
|Yid4XHhjN1x4OGZBX...|Customer Service Rep|         1|           OWN|  100000.0|             0.0|       Not Verified|   995xx|        AK|    46696.0|   326869.0|  25384|    Current|     5000.0|   AK|       5000.0| 36 months|  0.0611|    2|2018-09-18|     false|Individual|debt_consolidation|  Debt consolidation|                 1|                  0|                      0|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       43.0|          0.0|                A|                2018-09-18|               40000.0|                      2018-07-18|                     10000.0|
|YidceGU4SjxceDE4X...|         Underwrirer|        10|      MORTGAGE|   84000.0|             0.0|       Not Verified|   996xx|        AK|    11652.0|   314602.0| 188190|    Current|    20000.0|   AK|      20000.0| 36 months|  0.0611|    2|2018-09-18|     false|Individual|  home_improvement|    Home improvement|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       43.0|          2.0|                A|                2018-09-18|               20000.0|                      2018-09-18|                      5000.0|
|YiJceGY0Jlx4ZDZce...|           President|         2|      MORTGAGE|  220000.0|             0.0|    Source Verified|   995xx|        AK|    38225.0|   344026.0| 190484|    Current|    20000.0|   AK|      20000.0| 36 months|  0.0846|    3|2018-10-18|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                A|                2018-10-18|               27000.0|                      2018-09-18|                     20000.0|
|YidceGEwelx4ZjVce...|CLA Admin Special...|         2|          RENT|   36681.0|             0.0|    Source Verified|   995xx|        AK|     5383.0|    37678.0|  86746|    Current|    10000.0|   AK|      10000.0| 36 months|  0.0819|    3|2018-11-18|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                A|                2018-11-18|               20000.0|                      2018-10-18|                     20000.0|
|YiJceGFlXHhjOFx4M...|Telecommunication...|        10|      MORTGAGE|   72000.0|             0.0|    Source Verified|   995xx|        AK|    52671.0|   368694.0| 118021|    Current|    12000.0|   AK|      12000.0| 36 months|  0.0819|    3|2018-12-18|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  0|                      1|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                A|                2018-12-18|                3000.0|                      2018-11-18|                     10000.0|
|YichZVx4MDdLXHhiN...|                  RN|        10|      MORTGAGE|  110000.0|             0.0|       Not Verified|   996xx|        AK|    60860.0|   365158.0| 135884|    Current|    13450.0|   AK|      13450.0| 36 months|  0.0702|    1|2019-06-19|     false|Individual|    major_purchase|      Major purchase|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       43.0|          4.0|                A|                2019-06-19|               40000.0|                      2018-12-18|                     12000.0|
|YidceGQ5XHhlMlx4Z...|          Pit dealer|         1|          RENT|   60000.0|             0.0|    Source Verified|   995xx|        AK|    15120.0|    90717.0| 190272|    Current|    20000.0|   AK|      20000.0| 36 months|  0.0819|    2|2019-06-19|     false|Individual|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          1.0|                A|                2019-06-19|                7500.0|                      2019-06-19|                     13450.0|
|YidrXHg5NVx4YmY/X...|         Underwrirer|         0|      MORTGAGE|  150000.0|             0.0|       Not Verified|   995xx|        AK|    37890.0|   492575.0| 267412|    Current|    40000.0|   AK|      40000.0| 60 months|  0.0819|    4|2019-12-19|     false|Individual|       credit_card|Credit card refin...|                 0|                  0|                      1|                 0|                           0|                                  0|                               1|             0|              1|              0|         0|       43.0|          1.0|                A|                2019-12-19|               40000.0|                      2019-06-19|                     20000.0|
|YiI7dFx4OWInXHg4M...|University of Alaska|         3|          RENT|   98000.0|             0.0|    Source Verified|   997xx|        AK|     4354.0|    65312.0| 119519| Fully Paid|    12000.0|   AK|      12000.0| 36 months|  0.1016|   10|2013-02-13|     false|INDIVIDUAL|debt_consolidation|  Lowering Loan Rate|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                B|                2013-02-13|               10000.0|                            NULL|                        NULL|
|YidceGQ0XHhlN1x4M...|Customer Service ...|         0|          RENT|   45000.0|             0.0|    Source Verified|   995xx|        AK|     4309.0|    38779.0|  81803|Charged Off|    10000.0|   AK|      10000.0| 36 months|  0.1099|    9|2014-01-14|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                B|                2014-01-14|                5600.0|                      2013-02-13|                     12000.0|
|YidceGQ3N1x4ZWZce...|Business support ...|         1|          RENT|   43520.0|             0.0|    Source Verified|   995xx|        AK|     8235.0|    32940.0| 110138| Fully Paid|    11000.0|   AK|      11000.0| 36 months|  0.1167|   10|2014-06-14|     false|INDIVIDUAL|       credit_card|Credit card refin...|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          1.0|                B|                2014-06-14|                5000.0|                      2014-01-14|                     10000.0|
|YidceGQ5XHhkNlx4Z...|Human Resource Co...|         2|          RENT|   56640.0|             0.0|    Source Verified|   998xx|        AK|     8633.0|   120855.0| 164448| Fully Paid|    16000.0|   AK|      16000.0| 36 months|  0.1153|    6|2015-10-15|     false|Individual|debt_consolidation|  Debt consolidation|                 0|                  1|                      0|                 0|                           0|                                  1|                               0|             0|              1|              0|         0|       43.0|          0.0|                B|                2015-10-15|                5000.0|                      2014-06-14|                     11000.0|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+----------+----------+----------+------------------+--------------------+------------------+-------------------+-----------------------+------------------+----------------------------+-----------------------------------+--------------------------------+--------------+---------------+---------------+----------+-----------+-------------+-----------------+--------------------------+----------------------+--------------------------------+----------------------------+
only showing top 20 rows

## 5  Analysis SQL vs Spark

### a.Identify the average loan amount and interest rate for loans marked as "Default" in the Loan Status, grouped by Emp Length and annual income ranges

In [48]:
df.createOrReplaceTempView("loans")
query="WITH DefaultLoans AS (\
    SELECT * FROM loans WHERE loan_status = 'Default'),\
IncomeBins AS ( SELECT *, NTILE(4) OVER (ORDER BY annual_inc) AS income_range FROM DefaultLoans ) SELECT emp_length,  income_range,\
    AVG(loan_amount) AS avg_loan_amount,\
    AVG(int_rate) AS avg_interest_rate \
FROM IncomeBins \
GROUP BY emp_length, income_range \
ORDER BY emp_length, income_range";
query1_df = spark.sql(query)
query1_df.show()

24/11/28 15:40:28 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/11/28 15:40:28 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/11/28 15:40:28 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/11/28 15:40:28 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+------------+---------------+-----------------+
|emp_length|income_range|avg_loan_amount|avg_interest_rate|
+----------+------------+---------------+-----------------+
|         2|           2|         4000.0|           0.1899|
|         3|           3|        35000.0|           0.1344|
|        10|           1|         1000.0|           0.1614|
+----------+------------+---------------+-----------------+

In [50]:

default_loans = df.filter(col("loan_status") == "Default")

windowSpec = Window.orderBy("annual_inc")


income_binned = default_loans.withColumn(
    "income_range", 
    F.ntile(4).over(windowSpec)  
)

result = income_binned.groupBy("emp_length", "income_range").agg(
    F.avg("loan_amount").alias("avg_loan_amount"),
    F.avg("int_rate").alias("avg_interest_rate")
).orderBy("emp_length", "income_range")

result.show()

+----------+------------+---------------+-----------------+
|emp_length|income_range|avg_loan_amount|avg_interest_rate|
+----------+------------+---------------+-----------------+
|         2|           2|         4000.0|           0.1899|
|         3|           3|        35000.0|           0.1344|
|        10|           1|         1000.0|           0.1614|
+----------+------------+---------------+-----------------+

24/11/28 15:40:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/11/28 15:40:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/11/28 15:40:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/11/28 15:40:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

### b.  Calculate the average difference between Loan Amount and Funded Amount for each loan Grade and sort by the grades with the largest differences.

In [51]:
query="WITH LoanDifferences AS ( SELECT grade_discretized, loan_amount - funded_amount AS diff FROM loans )\
SELECT grade_discretized, AVG(diff) AS avg_difference FROM LoanDifferences GROUP BY grade_discretized ORDER BY avg_difference DESC";
query2_df = spark.sql(query)
query2_df.show()

+-----------------+--------------+
|grade_discretized|avg_difference|
+-----------------+--------------+
|                F|           0.0|
|                E|           0.0|
|                B|           0.0|
|                D|           0.0|
|                C|           0.0|
|                A|           0.0|
|                G|           0.0|
+-----------------+--------------+

In [52]:

result2_df = df.withColumn("diff", F.col("loan_amount") - F.col("funded_amount")) \
    .groupBy("grade_discretized") \
    .agg(F.avg("diff").alias("avg_difference")) \
    .orderBy(F.desc("avg_difference"))

# Show the result
result2_df.show()

+-----------------+--------------+
|grade_discretized|avg_difference|
+-----------------+--------------+
|                F|           0.0|
|                E|           0.0|
|                B|           0.0|
|                D|           0.0|
|                C|           0.0|
|                A|           0.0|
|                G|           0.0|
+-----------------+--------------+

### c. Compare the total Loan Amount for loans with "Verified" and "Not Verified" Verification Status across each state (Addr State).

In [53]:
query = "SELECT addr_state, verification_status, SUM(loan_amount) AS total_loan_amount FROM loans GROUP BY addr_state, verification_status \
ORDER BY addr_state, verification_status"

# Execute the query
query3_df = spark.sql(query)

# Show the results
query3_df.show()

+----------+-------------------+-----------------+
|addr_state|verification_status|total_loan_amount|
+----------+-------------------+-----------------+
|        AK|       Not Verified|         363625.0|
|        AK|    Source Verified|         582150.0|
|        AK|           Verified|         366475.0|
|        AL|       Not Verified|        1737775.0|
|        AL|    Source Verified|        1655725.0|
|        AL|           Verified|        1202350.0|
|        AR|       Not Verified|         909575.0|
|        AR|    Source Verified|        1411425.0|
|        AR|           Verified|         774250.0|
|        AZ|       Not Verified|        3151075.0|
|        AZ|    Source Verified|        3748200.0|
|        AZ|           Verified|        2667200.0|
|        CA|       Not Verified|        1.78475E7|
|        CA|    Source Verified|       2.352335E7|
|        CA|           Verified|        1.71016E7|
|        CO|       Not Verified|        3022825.0|
|        CO|    Source Verified|        3459625.0|
|        CO|           Verified|        2643975.0|
|        CT|       Not Verified|        1633800.0|
|        CT|    Source Verified|        3051075.0|
+----------+-------------------+-----------------+
only showing top 20 rows

In [54]:
result3_df = df.groupBy("addr_state", "verification_status") \
    .agg(F.sum("loan_amount").alias("total_loan_amount")) \
    .orderBy("addr_state", "verification_status")

# Show the results
result3_df.show()

+----------+-------------------+-----------------+
|addr_state|verification_status|total_loan_amount|
+----------+-------------------+-----------------+
|        AK|       Not Verified|         363625.0|
|        AK|    Source Verified|         582150.0|
|        AK|           Verified|         366475.0|
|        AL|       Not Verified|        1737775.0|
|        AL|    Source Verified|        1655725.0|
|        AL|           Verified|        1202350.0|
|        AR|       Not Verified|         909575.0|
|        AR|    Source Verified|        1411425.0|
|        AR|           Verified|         774250.0|
|        AZ|       Not Verified|        3151075.0|
|        AZ|    Source Verified|        3748200.0|
|        AZ|           Verified|        2667200.0|
|        CA|       Not Verified|        1.78475E7|
|        CA|    Source Verified|       2.352335E7|
|        CA|           Verified|        1.71016E7|
|        CO|       Not Verified|        3022825.0|
|        CO|    Source Verified|        3459625.0|
|        CO|           Verified|        2643975.0|
|        CT|       Not Verified|        1633800.0|
|        CT|    Source Verified|        3051075.0|
+----------+-------------------+-----------------+
only showing top 20 rows

### d. Calculate the average time gap (in days) between consecutive loans for each grade using the new features you added in the feature engineering phase

In [55]:
query = "SELECT grade_discretized, AVG(DATEDIFF(issue_date, prev_loan_issue_date_grade)) AS avg_time_gap FROM loans WHERE prev_loan_issue_date_grade IS NOT NULL \
GROUP BY grade_discretized \
ORDER BY grade_discretized"
query4_df = spark.sql(query)

# Show the results
query4_df.show()

+-----------------+-------------------+
|grade_discretized|       avg_time_gap|
+-----------------+-------------------+
|                A|0.47154899894625923|
|                B| 0.3402179422199696|
|                C|0.35024784763892514|
|                D|  0.685823754789272|
|                E| 1.8169117647058823|
|                F|   5.78974358974359|
|                G| 20.057142857142857|
+-----------------+-------------------+

In [56]:
df_with_gap = df.withColumn("time_gap", F.datediff("issue_date", "prev_loan_issue_date_grade"))


df_with_gap_filtered = df_with_gap.filter(df_with_gap.time_gap.isNotNull()&df_with_gap.prev_loan_issue_date_grade.isNotNull())

result4_df = df_with_gap_filtered.groupBy("grade_discretized") \
    .agg(F.avg("time_gap").alias("avg_time_gap")) \
    .orderBy("grade_discretized")

result4_df.show()

+-----------------+-------------------+
|grade_discretized|       avg_time_gap|
+-----------------+-------------------+
|                A|0.47154899894625923|
|                B| 0.3402179422199696|
|                C|0.35024784763892514|
|                D|  0.685823754789272|
|                E| 1.8169117647058823|
|                F|   5.78974358974359|
|                G| 20.057142857142857|
+-----------------+-------------------+

### e.  Identify the average difference in loan amounts between consecutive loans within the same state and grade combination.

In [57]:
query="WITH loan_diffs AS (SELECT state,grade_discretized,loan_amount,prev_loan_amount_state_grade,\
loan_amount - prev_loan_amount_state_grade AS loan_amount_diff_state_grade \
FROM loans \
WHERE prev_loan_amount_state_grade IS NOT NULL) \
SELECT state,grade_discretized,AVG(loan_amount_diff_state_grade) AS avg_loan_amount_diff \
FROM loan_diffs \
GROUP BY state, grade_discretized \
ORDER BY avg_loan_amount_diff DESC"

query5_df = spark.sql(query)


query5_df.show()

+-----+-----------------+--------------------+
|state|grade_discretized|avg_loan_amount_diff|
+-----+-----------------+--------------------+
|   WY|                E|             21525.0|
|   WI|                G|             16950.0|
|   HI|                F|             15625.0|
|   ME|                F|              7662.5|
|   DE|                E|              6625.0|
|   KY|                F|   6383.333333333333|
|   OK|                F|              5875.0|
|   WV|                E|  3392.8571428571427|
|   AK|                D|              3370.0|
|   VT|                D|              3000.0|
|   HI|                E|  2832.1428571428573|
|   IN|                F|  2738.8888888888887|
|   UT|                E|  2444.4444444444443|
|   MA|                F|              2375.0|
|   SD|                D|   2285.714285714286|
|   SD|                A|  2261.5384615384614|
|   NM|                F|              2000.0|
|   DE|                A|   1857.142857142857|
|   TX|                G|   1857.142857142857|
|   OH|                G|             1756.25|
+-----+-----------------+--------------------+
only showing top 20 rows

In [58]:
df = df.withColumn(
    "loan_amount_diff_state_grade",
    df["loan_amount"] - df["prev_loan_amount_state_grade"]
)

# Filter out rows where the previous loan amount is null (to exclude the first loan in each state/grade combination)
result = df.filter(df["prev_loan_amount_state_grade"].isNotNull()) \
    .groupBy("state", "grade_discretized") \
    .agg(F.avg("loan_amount_diff_state_grade").alias("avg_loan_amount_diff")) \
    .orderBy(F.desc("avg_loan_amount_diff"))

# Show the result
result.show()

+-----+-----------------+--------------------+
|state|grade_discretized|avg_loan_amount_diff|
+-----+-----------------+--------------------+
|   WY|                E|             21525.0|
|   WI|                G|             16950.0|
|   HI|                F|             15625.0|
|   ME|                F|              7662.5|
|   DE|                E|              6625.0|
|   KY|                F|   6383.333333333333|
|   OK|                F|              5875.0|
|   WV|                E|  3392.8571428571427|
|   AK|                D|              3370.0|
|   VT|                D|              3000.0|
|   HI|                E|  2832.1428571428573|
|   IN|                F|  2738.8888888888887|
|   UT|                E|  2444.4444444444443|
|   MA|                F|              2375.0|
|   SD|                D|   2285.714285714286|
|   SD|                A|  2261.5384615384614|
|   NM|                F|              2000.0|
|   DE|                A|   1857.142857142857|
|   TX|                G|   1857.142857142857|
|   OH|                G|             1756.25|
+-----+-----------------+--------------------+
only showing top 20 rows

## 6  lookup Saving the dataset

In [59]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

def create_lookup_table(df):
    lookup_entries = []

    # Lookup for emp_length
    emp_length_map = {
        "< 1 year": 0, "1 year": 1, "2 years": 2, "3 years": 3, 
        "4 years": 4, "5 years": 5, "6 years": 6, "7 years": 7, 
        "8 years": 8, "9 years": 9, "10+ years": 10
    }
    for k, v in emp_length_map.items():
        lookup_entries.append(("emp_length", k, str(v)))

    # Lookup for home_ownership, verification_status, and type (One-Hot Encoded)
    for col_name in ["home_ownership", "verification_status", "type"]:
        unique_values = df.select(col_name).distinct().rdd.flatMap(lambda x: x).collect()
        for value in unique_values:
            one_hot_value = f"{col_name}_{value}".replace(" ", "_").lower()
            lookup_entries.append((col_name, value, one_hot_value))

    # Lookup for state and purpose (Label Encoded)
    for col_name in ["state", "purpose"]:
        unique_values = df.select(col_name).distinct().rdd.flatMap(lambda x: x).collect()
        for idx, value in enumerate(unique_values):
            lookup_entries.append((col_name, value, str(idx)))

    # Lookup for grade_discretized
    grade_discretized_map = {
        "A": "1-5", "B": "6-10", "C": "11-15", 
        "D": "16-20", "E": "21-25", "F": "26-30", "G": "31-35"
    }
    for k, v in grade_discretized_map.items():
        lookup_entries.append(("grade_discretized", k, v))

    # Convert to a DataFrame
    lookup_schema = T.StructType([
        T.StructField("column_name", T.StringType(), True),
        T.StructField("original_value", T.StringType(), True),
        T.StructField("encoded_value", T.StringType(), True),
    ])
    lookup_df = spark.createDataFrame(lookup_entries, schema=lookup_schema)

    return lookup_df


lookup_table = create_lookup_table(df)


lookup_table.show(100)

# Save to Parquet
lookup_table.write.mode("overwrite").parquet("lookup_spark_52_21362.parquet")

+-------------------+------------------+--------------------+
|        column_name|    original_value|       encoded_value|
+-------------------+------------------+--------------------+
|         emp_length|          < 1 year|                   0|
|         emp_length|            1 year|                   1|
|         emp_length|           2 years|                   2|
|         emp_length|           3 years|                   3|
|         emp_length|           4 years|                   4|
|         emp_length|           5 years|                   5|
|         emp_length|           6 years|                   6|
|         emp_length|           7 years|                   7|
|         emp_length|           8 years|                   8|
|         emp_length|           9 years|                   9|
|         emp_length|         10+ years|                  10|
|     home_ownership|               OWN|  home_ownership_own|
|     home_ownership|              RENT| home_ownership_rent|
|     home_ownership|          MORTGAGE|home_ownership_mo...|
|     home_ownership|               ANY|  home_ownership_any|
|verification_status|          Verified|verification_stat...|
|verification_status|   Source Verified|verification_stat...|
|verification_status|      Not Verified|verification_stat...|
|               type|         Joint App|      type_joint_app|
|               type|        Individual|     type_individual|
|               type|        DIRECT_PAY|     type_direct_pay|
|               type|             JOINT|          type_joint|
|               type|        INDIVIDUAL|     type_individual|
|              state|                AZ|                   0|
|              state|                SC|                   1|
|              state|                LA|                   2|
|              state|                MN|                   3|
|              state|                NJ|                   4|
|              state|                DC|                   5|
|              state|                OR|                   6|
|              state|                VA|                   7|
|              state|                RI|                   8|
|              state|                KY|                   9|
|              state|                WY|                  10|
|              state|                NH|                  11|
|              state|                MI|                  12|
|              state|                NV|                  13|
|              state|                WI|                  14|
|              state|                ID|                  15|
|              state|                CA|                  16|
|              state|                CT|                  17|
|              state|                NE|                  18|
|              state|                MT|                  19|
|              state|                NC|                  20|
|              state|                VT|                  21|
|              state|                MD|                  22|
|              state|                DE|                  23|
|              state|                MO|                  24|
|              state|                IL|                  25|
|              state|                ME|                  26|
|              state|                WA|                  27|
|              state|                ND|                  28|
|              state|                MS|                  29|
|              state|                AL|                  30|
|              state|                IN|                  31|
|              state|                OH|                  32|
|              state|                TN|                  33|
|              state|                NM|                  34|
|              state|                PA|                  35|
|              state|                SD|                  36|
|              state|                NY|                  37|
|              state|                TX|                  38|
|              state|                WV|                  39|
|              state|                GA|                  40|
|              state|                MA|                  41|
|              state|                KS|                  42|
|              state|                FL|                  43|
|              state|                CO|                  44|
|              state|                AK|                  45|
|              state|                AR|                  46|
|              state|                OK|                  47|
|              state|                UT|                  48|
|              state|                HI|                  49|
|            purpose|           wedding|                   0|
|            purpose|             other|                   1|
|            purpose|    small_business|                   2|
|            purpose|debt_consolidation|                   3|
|            purpose|       credit_card|                   4|
|            purpose|            moving|                   5|
|            purpose|          vacation|                   6|
|            purpose|  renewable_energy|                   7|
|            purpose|             house|                   8|
|            purpose|               car|                   9|
|            purpose|    major_purchase|                  10|
|            purpose|           medical|                  11|
|            purpose|  home_improvement|                  12|
|  grade_discretized|                 A|                 1-5|
|  grade_discretized|                 B|                6-10|
|  grade_discretized|                 C|               11-15|
|  grade_discretized|                 D|               16-20|
|  grade_discretized|                 E|               21-25|
|  grade_discretized|                 F|               26-30|
|  grade_discretized|                 G|               31-35|
+-------------------+------------------+--------------------+

In [60]:
df.write.parquet("fintech_spark_52_21362_clean.parquet", mode="overwrite")

## 7 Bonus

In [61]:
from pyspark.sql import SparkSession
import pandas as pd
from sqlalchemy import create_engine


df_pandas = df.toPandas()
lookup_table_pandas = lookup_table.toPandas()

# Database connection parameters
db_user = "dareen"
db_password = "dareen"
db_host = "localhost"
db_port = "5432"
db_name = "testdb"

# Create SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")
if(engine.connect()):
        print('Connected to Database')
# Save DataFrame to PostgreSQL
df_pandas.to_sql("cleaned_db", engine, if_exists="replace", index=False)
lookup_table_pandas.to_sql("lookup_table", engine, if_exists="replace", index=False)

print("Both DataFrames saved to PostgreSQL!")

Connected to Database
Both DataFrames saved to PostgreSQL!

In [62]:
spark.stop()